<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.l1.dao.ReversionDao">

    <resultMap type="Reversion" id="ReversionResult">
        <result property="rentId" column="rentId"/>
        <result property="billNo" column="billNo"/>
        <result property="billStat" column="billStat"/>
        <result property="billStatName" column="billStatName"/>
        <result property="rentBillId" column="rentBillId"/>
        <result property="rentBillNo" column="rentBillNo"/>
        <result property="rentBillStat" column="rentBillStat"/>
        <result property="rentBillStatName" column="rentBillStatName"/>
        <result property="warehouseId" column="warehouseId"/>
        <result property="warehouseName" column="warehouseName"/>
        <result property="customerName" column="customerName"/>
        <result property="customerPhone" column="customerPhone"/>
        <result property="customerAddr" column="customerAddr"/>
        <result property="customerCard" column="customerCard"/>
        <result property="supplierId" column="supplierId"/>
        <result property="supplierName" column="supplierName"/>
        <result property="expressBillNo" column="expressBillNo"/>
        <result property="beginDate" column="beginDate"/>
        <result property="endDate" column="endDate"/>
        <result property="reversionDate" column="reversionDate"/>
        <result property="rentMoney" column="rentMoney"/>
        <result property="repoMoney" column="repoMoney"/>
        <result property="compensateMoney" column="compensateMoney"/>
        <result property="create_by" column="create_by"/>
        <result property="update_by" column="update_by"/>
        <result property="create_time" column="create_time"/>
        <result property="update_time" column="update_time"/>
    </resultMap>

    <sql id="v_reversion">
		SELECT
              r.*,w.`name` warehouseName,s.`supplierName`,d.textField billStatName
            FROM
              tb_reversion r
              LEFT JOIN
              tb_warehouse w
              ON r.warehouseId = w.id
              LEFT JOIN
              tb_supplier s
              ON
              r.supplierId = s.id
                LEFT JOIN
              (SELECT
                valueField,
                textField
              FROM
                tb_dic
              WHERE keyWord = 'reversionBillStatus') d
              ON r.billStat = d.valueField
	</sql>

    <select id="loadAvailableRentBillNos" resultType="map">
		SELECT id,billNo FROM tb_rent WHERE billStat=1 and id not in(SELECT rentBillId FROM tb_reversion)
	</select>
    <select id="loadReversionFromRent" resultMap="ReversionResult">
		SELECT
              r.id rentBillId,r.billNo rentBillNo,r.customerName,r.warehouseId,r.stat rentBillStat,0 billStat,r.rentDay,r.rentMoney,r.repoMoney,r.customerPhone,r.customerAddr,r.customerCard,r.supplierId,
              r.expressBillNo,r.returnBillNo,r.beginDate,r.endDate,w.`name` warehouseName,s.`supplierName`,d.textField rentBillStatName
            FROM
              tb_rent r
              LEFT JOIN
              tb_warehouse w
              ON r.warehouseId = w.id
              LEFT JOIN
              tb_supplier s
              ON
              r.supplierId = s.id
                LEFT JOIN
              (SELECT
                valueField,
                textField
              FROM
                tb_dic
              WHERE keyWord = 'rentStatus') d
              ON r.billStat = d.valueField
        where r.id = #{rentId}
    </select>
    <select id="find" resultMap="ReversionResult">
        <include refid="v_reversion"/>
        <where>
            <if test="name!=null and name!='' ">
                and name like #{name}
            </if>
            <if test="code!=null and code!='' ">
                and code like #{code}
            </if>
            <if test="stat!=null and stat!='' ">
                and stat=#{stat}
            </if>
        </where>
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <select id="loadReversionDtlsFromRentDtl" resultType="map">
        SELECT r.*,item.name itemName,color.name colorName,sizedtl.name sizeDtlName
		FROM tb_rentdtl r
		LEFT JOIN tb_sku sku ON r.skuId = sku.id
		LEFT JOIN tb_item item ON sku.itemId = item.id
		LEFT JOIN tb_color color ON sku.colorId = color.id
		LEFT JOIN tb_sizedtl sizedtl ON sku.sizeDtlId = sizedtl.id
		WHERE r.rentId = #{rentId}
    </select>

    <insert id="save" parameterType="Reversion" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into tb_reversion(
		  billNo,billStat, rentBillId, rentBillNo, rentBillStat, customerName,
		  customerPhone, customerAddr, customerCard, warehouseId,supplierId ,
		  expressBillNo, rentMoney, repoMoney, compensateMoney, beginDate, endDate, reversionDate)
		values(
		#{billNo},#{billStat},#{rentBillId},#{rentBillNo},#{rentBillStat},#{customerName},
		#{customerPhone},#{customerAddr},#{customerCard},#{warehouseId},#{supplierId}
		,#{expressBillNo},#{rentMoney},#{repoMoney},#{compensateMoney},#{beginDate},#{endDate},#{reversionDate})
	</insert>

    <update id="update" parameterType="Reversion">
        update tb_reversion
        <set>
            <if test="billNo!=null and billNo!='' ">
                billNo=#{billNo},
            </if>

            <if test="customerName!=null and customerName!='' ">
                customerName=#{customerName},
            </if>

            <if test="warehouseId!=null and warehouseId!='' ">
                warehouseId=#{warehouseId},
            </if>
            <if test="warehouseName!=null and warehouseName!='' ">
                warehouseName=#{warehouseName},
            </if>
            <if test="stat!=null and stat!='' ">
                billStat=#{billStat},
            </if>

            <if test="update_time!=null">
                update_time=#{update_time},
            </if>
            <if test="customerPhone!=null">
                customerPhone=#{customerPhone},
            </if>
            <if test="customerAddr!=null">
                customerAddr=#{customerAddr},
            </if>
            <if test="customerCard!=null">
                customerCard=#{customerCard},
            </if>
            <if test="rentDay!=null">
                rentDay=#{rentDay},
            </if>

            <if test="repoMoney!=null">
                repoMoney=#{repoMoney},
            </if>
            <if test="rentMoney!=null">
                rentMoney=#{rentMoney},
            </if>

            <if test="damageMoney !=null">
                damageMoney=#{damageMoney},
            </if>
            <if test="beginDate!=null">
                beginDate=#{beginDate},
            </if>
            <if test="endDate!=null">
                endDate=#{endDate},
            </if>
            <if test="expressBillNo!=null">
                expressBillNo=#{expressBillNo},
            </if>

            <if test="rentBillNo !=null">
                rentBillNo=#{rentBillNo},
            </if>
            <if test="supplierId!=null">
                supplierId=#{supplierId},
            </if>
        </set>
        where id=#{rentId}
    </update>

    <!--<select id="find" parameterType="Map" resultMap="ReversionResult">-->
        <!--select * from tb_return-->
        <!--<where>-->
            <!--<if test="name!=null and name!='' ">-->
                <!--and name like #{name}-->
            <!--</if>-->
            <!--<if test="code!=null and code!='' ">-->
                <!--and code like #{code}-->
            <!--</if>-->
            <!--<if test="stat!=null and stat!='' ">-->
                <!--and stat=#{stat}-->
            <!--</if>-->
        <!--</where>-->
        <!--<if test="start!=null and size!=null">-->
            <!--limit #{start},#{size}-->
        <!--</if>-->
    <!--</select>-->

    <select id="findByIds" parameterType="string" resultMap="ReversionResult">
		select * from tb_return
		where rentId in (#{ids})
	</select>

    <select id="findById" parameterType="int" resultMap="ReversionResult">
		select * from tb_return
		where rentId =#{rentId}
	</select>


    <select id="getTotal" parameterType="Map" resultType="Long">
        select count(*) from tb_return
        <where>
            <if test="name!=null and name!='' ">
                and name like #{name}
            </if>
            <if test="code!=null and code!='' ">
                and code like #{code}
            </if>
        </where>
    </select>

    <delete id="remove">
        DELETE FROM tb_reversion where id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteById" parameterType="int">
		DELETE FROM tb_reversion where id=#{rentId}
	</delete>

    <update id="finish">
        UPDATE tb_reversion set billStat = 1 WHERE id IN
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <update id="unfinish">
        UPDATE tb_reversion set billStat = 0 WHERE id IN
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper> 